@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: 0.4s;
  }
  .nav__logo:hover {
    color: var(--text-color);
  }
  .nav__logo-img {
    width: 1.25rem;
  }
  .nav__link,
  .nav__logo,
  .nav__toggle,
  .nav__close {
    color: var(--sub);
  }
  .nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
  }
  @media screen and (max-width: 767px) {
    .nav__menu {
      position: fixed;
      width: 100%;
      background: var(--container-color);
      top: -150%;
      left: 0;
      color: #ff5b79;
      padding: 3.5rem 0;
      transition: 0.4s;
      z-index: var(--z-fixed);
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }
  .nav__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav__close {
    font-size: 1.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    cursor: pointer;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .nav__link {
    text-transform: uppercase;
    font-weight: var(--font-black);
    transition: 0.4s;
  }
  .nav__link:hover {
    color: var(--text-color);
  }
  .profile-img {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegúrate de que la imagen no se distorsione */
    margin-right: 10px; /* Espaciado entre la imagen y el botón */
    border: 2px solid #e66c01;
    transition: transform 0.3s ease; /* Añade una transición suave */
}

.profile-img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al hacer hover */
}

#Title_logo{
  font-family: 'Creepster', cursive;
  font-size: x-large;
}
#logout-button, #user-button{
  font-family: 'Creepster', cursive;
  font-size: larger;
}